extends base

block content 
 main.main 
  .card-container
   each review in reviews 
    table 
     tr 
      th= review.review 
      th= review.rating
     tr
      th= review.user.name
      th= review.tour.name